/* :root {
    --md-primary-fg-color: rgb(255 255 255/var(--tw-text-opacity))
    --md-primary-fg-color--light: rgb(255 255 255/var(--tw-text-opacity));
    --md-primary-fg-color--dark: #a855f7;
} */

/* [data-md-color-scheme="slate"] {
    --md-hue: 122;
} */