/* :root {
    --md-primary-fg-color: rgb(255 255 255/var(--tw-text-opacity))
    --md-primary-fg-color--light: rgb(255 255 255/var(--tw-text-opacity));
    --md-primary-fg-color--dark: #a855f7;
} */

/* [data-md-color-scheme="slate"] {
    --md-hue: ;
} */

body {
    background-color: black !important;
    color: #fff !important;
}

h1, h2, h3, h4, h5, li {
    color: #fff !important;
}

a {
    color: #9cbcf8 !important;
}